body {
    display: flex;
    font-family: Lobster,sans-serif;
    color: #333;
    justify-content: center;
    flex-direction: column;
}
body {
    display: flex;
    font-family: Lobster,sans-serif;
    color: #333;
    justify-content: center;
    flex-direction: column;
}
header {
    padding: 16px;
    border-bottom: 1px solid #eaeaea;
}
h1 {
    display: flex;
    font-size: 32px;
    color: #000;
    line-height: 40px;
    align-content: center;
    text-align: center;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2 {
    display: flex;
    font-size: 24px;
    color: #000;
    align-content: center;
    text-align: center;
    text-decoration: underline;
}

h3 {
    display: flex;
    font-size: 20px;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.buy-button {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}

.price {
    display: flex;
    font-size: 20px;
    color: #000;
}

.snipcart-checkout {
    display: flex;
    font-size: 18px;
    color: #000;
    line-height: 24px;
    border: none;
    padding: 5px;
    align-items: center;
    cursor: pointer;
    background: white;
    margin-left: auto;
}

.snipcart-add-item {
    display: flex;
    color: #fff;
    color: var(--color-buttonPrimary,#fff);
    border-color: transparent;
    border-color: var(--borderColor-buttonPrimary,transparent);
    background-color: #1a4db3;
    background-color: var(--bgColor-buttonPrimary,#1a4db3);
    padding: 16px;
    border: 1px solid;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-out;
    transition-property: color,border-color,background-color,box-shadow;
    margin-left: 15px;
}

svg {
    padding: 10px;
}
